.content 
	%h1 Cleanist

	%p.description.lead Get rid of excess junk. Cleanist cleans last weeks' saved articles in your read later service, every two weeks. 

	%a{:href => "/auth/pocket", :class => "pocket btn"} Sign in with Pocket 

.footer 
